/* Notepage.css (또는 기존의 CSS 파일) */
.notepage-container{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 50px;
}

.Note-page{
  display: flex;
}

.memo-input {
  margin-top: 20px;
    width: 100%;
    height: 430px;
    border: none;
    outline: none;
    font-size: small;
    font-weight: bold;
    
  }


  .memo-input::placeholder {
    color: #a8a8a8;
    font-size: small;
    font-weight: bold;
    
  }

  .button-container {
    margin-top: 20px;
    margin-left: 820px;
  }

  .notesave-button {
    position: relative;
    margin-right: 10px;
    background-color: #0074e4; /* 파란색 배경 버튼 */
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

  }

  .quizgenerate-button {
    position: relative;
    background-color: #0074e4; /* 파란색 배경 버튼 */
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

  }


  .textarea-container {
  position: relative;
}

.file-dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  /* 다른 필요한 스타일링도 추가 가능 */
}

.create-file-button{
  font-size: x-small;
  border: none;
  padding: 6px 8px;
  border-radius: 10px; 
  cursor: pointer;
  margin-bottom: 10px;
}

.editcontent-button {
  margin-left: 10px;
  font-size: x-small;
  border: none;
  padding: 6px 8px;
  border-radius: 10px; 
  cursor: pointer;
  margin-bottom: 10px;

}

.file-line {
  background-color: #cdcdcd;
  height: 0.3px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.fileimage {
  display: flex;
  height: 27px;
  margin-bottom: 5px;
}

.filename {
  
}

.filename-text {
  position: absolute;
  margin-left: 30px;
  font-size: small;
  color: #3a3a3a;
  font-weight: bold;
  margin-top: -25px; /* 파일 이름을 위로 올리기 위한 설정 */
  text-decoration: underline; /* 밑줄 추가 */
}

.title-input {
  border: none;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom:20px;
 
}

.title-input::placeholder{
  color: #6d6d6d;
  
}
  

  

 
  